name: CI-check-no-dist-update

# Prohibit any change to 'dist/**' on a non-release branch
on:
  workflow_dispatch:
  pull_request:
    paths:
      - 'dist/**'

permissions:
  contents: read

jobs:
  fail-on-dist-update:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout sources
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      with:
        fetch-depth: 0

    - name: Get changed files
      id: changed-files
      uses: tj-actions/changed-files@e0021407031f5be11a464abee9a0776171c79891 # v47.0.1
      with:
        files: |
          dist/**

    - name: Print changes to dist directory
      env:
        ALL_CHANGED_FILES: ${{ steps.changed-files.outputs.all_changed_files }}
      run: |
        for file in ${ALL_CHANGED_FILES}; do
          echo "$file was changed"
        done

    - run: |
        echo "The 'dist' directory is automatically updated by the release process."
        echo "It should not be updated manually in a non-release branch or a pull request."
        exit 1
